<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul><% items.forEach(function(listitem){ %>
      <% include listitem %>
      <% }) %>
    </ul>
  </body>
</html>
