<form method="post" action="/post" class="well form-horizontal">
    <div class="form-group">
        <div class="col-md-offset-1 col-md-9">
            <input type="text" class="form-control col-md-8" name="post">
        </div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-success">
                <i class="glyphicon glyphicon-comment glyphicon-white"></i>
                发言
            </button>
        </div>
    </div>
</form>